<div class="col-md-10">
</div>

<div class="col-md-2">
<h3>You</h3>
<div data-bind="with: game">
<!-- ko if: !race() -->
<p>Please select a character race to get started.</p>
<!-- /ko -->
<!-- ko if: race -->
<p>You are <span data-bind="text: race">...</span></p>
<!-- /ko -->
</div>

<h3>Assets</h3>
<p>You currently have
<span class="label label-danger">0 <span class="fa fa-btc"></span></span></p>

<h3>Game Options</h3>
<button class="btn btn-danger btn-block" data-bind="click: restart"><span class="fa fa-refresh"></span> Restart Game</button>
</div>
